/* Reset de Configurações Gerais Para Os Navegadores. */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body{
    background-color: antiquewhite;
    background-image: url("assets/neymar.jpg")

    
}

h1{
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin: 20px;
}

p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Arial';
    margin: 20px;

}
