/* Reset de Configurações Gerais Para Os Navegadores. */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body{
    background-color: rgb(255, 0, 0);
background-image: url("assets/GUI2.jpg");
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
 


h1{
    text-align: center;
    color:rgb(255, 0, 0);
    font-size: 200px;
    margin: 20px;
}

p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Arial';
    margin: 7px;
    color: black ;
}

hr {
  max-width: 50%;
  margin: 0 auto;
}



button {
    display: block;
    height: auto;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

ol {
    margin: 10px auto;
    padding: 30px auto;
    margin-bottom: 30px;
    text-align: center;

}

li {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    text-align: center;
    color: crimson;
    margin: 10px auto;
}

img {
    display: block;
    max-width:300px;
    margin: 10px auto;
}




a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    color: crimson;
}

.input-group{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

input[type="text"]{
    margin: 0px auto;
    text-align: center;
    border-radius: 3px;
    display: block;
    outline: nome;

}    

